<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{movie.title}} ({{movie.year}})</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{movie.image}}">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Add to Watchlist</button>
    <button mat-button>Don't show again</button>
  </mat-card-actions>
</mat-card>
